            {{#each clothes}}
            <div class="col">
                <a href="/cloth-details/{{_id}}">
                    <img id="{{_id}}" class="w-100" src="{{photo}}" alt="{{ item.name }}">
                </a>
            </div>
            {{/each}}
