<footer class="container footer" aria-label="page footer">
    <h5 aria-label="Web application name">What to wear <span class="span-bg">today</span>?</h5>
    <p>© 2022 Jerzka</p>
</footer>

{{!-- if user is authorized:
<footer class="container footer" aria-label="page footer">
    <h5 aria-label="Web application name">What to wear <span class="span-bg">today</span>?</h5>
    <p>Home <span class="span-color">/</span> Profile</p> <!-- breadcrubs -->
</footer> --}}