<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a  href="/home">
                    <img src="../images/logo_WhatToWear_opaque.svg" width="50px" alt="Logo What to wear?"
                        aria-label="Logo What to wear?">
                </a>
                <p id="user" class="d-inline me-3 text-white">{{ user }}</p>
            </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon-collapsed"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarTogglerMenu">
                    <ul class="navbar-nav align-items-end">
            {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link" href="/cloth-form">New cloth</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/outfit-form">New outfit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/outfit-list">Outfits list</a>
                        </li>
                        <li>
                            <a id="signoutBtn" class="btn btn-primary text-white" href="/signout">Log out</a>
                        </li>
            {{else}}
                        <li class="nav-item">
                            <a class="btn btn-primary text-white" href="/signup">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary text-white" href="/signin">Sign in</a>
                        </li>
            {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>