<header>
        <nav id="page-top" class="navbar navbar-expand-md mx-auto bg-primary">
            <div class="container-fluid w-75">
                <a class="navbar-brand" href="/home">
                        <img src="../images/logo_WhatToWear_opaque.svg" width="50px" alt="Logo What to wear?"
                            aria-label="Logo What to wear?">
                </a>
                <div>
                    <p id="user" class="d-inline me-3 text-white">{{ name }}</p>
                    <a href="/home"><i class="fa fa-home fa-lg me-3 text-white" aria-hidden="true"></i></a>
                    <a id="logoutBtn" class="btn btn-primary text-white" href="/logout">Log out</a>
                </div>
            </div>
            </div>
        </nav>
    </header>
