{{!-- <section class="hero">
    <div class="hero-content">
        <h1 class="hero-title"></h1>
        <h2 class="hero-subtitle"></h2>
        <button class="hero-button" type="button" onclick=""></button>
    </div>
</section> --}}

        <div id="hero" class="row rows-cols-2 flex-md-row-reverse align-items-top g-0">
            <div id="hero-photo" class="col-12 col-md-7">
                {{!-- <img src="images/background_AdobeStock_169277666_hero-image.jpg"/> --}}
            </div>

            <div id="hero-content" class="col-12 col-md-5">
                {{!-- <div id="logo" class="bg-primary my-2 mx-auto">
                    <img src="images/logo_WhatToWear_opaque.svg" width="80px" alt="Logo What to wear?"
                        aria-label="Logo What to wear today?">
                </div> --}}
                <h1 class="hero-title" aria-label="Web application name">What to wear <span class="span-bg"
                        style="padding:4px; padding-top:0; ">today</span>?</h1>
                <h4 class="hero-subtitle fw-normal">
                    <span class="span-color">This is every woman's morning question standing in front of
                        a wardrobe full of clothes.</span>
                </h4>
                <p class="hero-lead">Take my helping hand, register and start organize your clothes and
                    create the outfits that make you feel like a million dollars!
                </p>
                
                    <a href="/signup" class="btn btn-primary btn-lg d-xs-inline d-sm-none my-2">I need it!</a>
                    <a href="/signup" class="btn btn-primary btn-md d-none d-sm-inline my-2">I need it!</a>
                    <br class="d-md-none"/>
                    <a href="/signin" class="btn btn-outline-primary btn-lg d-xs-inline d-sm-none my-2">I have an account</a>
                    <a href="/signin" class="btn btn-outline-primary btn-md d-none d-sm-inline my-2">I have an account</a>
            </div>
        </div>