<div class="container text-center">
    <main id="form-signup" class="m-auto" aria-label="registration form">
        <form class="px-5">
            <div id="logo" class="bg-primary my-2 mx-auto">
                <img src="images/logo_WhatToWear_opaque.svg" width="80px" alt="Logo What to wear today?"
                    aria-label="Logo  What to wear today?">
            </div>
            <div class="form-row">
                <input id="userInput" class="form-control" type="text" placeholder="login" autocomplete="username"
                    aria-label="registration user login" required />
            </div>
            <div class="form-row">
                <input id="emailInput" class="form-control" type="email" placeholder="name@example.com"
                    autocomplete="username" aria-label="registration email" required />
            </div>
            <div class="form-row">
                <input id="passwordInput" class="form-control" type="password" placeholder="password"
                    autocomplete="current-password" aria-label="registration password" required />
            </div>
            <p>By signing up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
            <button id="signupBtn" type="button" class="btn btn-primary btn-lg">Sign up</button>
        </form>
    </main>