<div class="container text-center">
    <main id="form-signin" class="m-auto" aria-label="login form">
        <form class="px-5">
            <div id="logo" class="bg-primary my-2 mx-auto">
                <img src="images/logo_WhatToWear_opaque.svg" width="80px" alt="Logo What to wear today?"
                    aria-label="Logo  What to wear today?">
            </div>
            <div class="form-row">
                <input id="emailInput" class="form-control" type="email" placeholder="name@example.com"
                    autocomplete="username" aria-label="login email" required />

            </div>
            <div class="form-row input-group mb-3">
                    <input id="passwordInput" class="form-control" type="password" placeholder="password"
                        autocomplete="current-password" aria-label="login password"
                        aria-describedby="showButton">
                    <button class="btn btn-outline-secondary opacity-25" type="button" id="showButton">
                        <i id="showIcon" class="fa fa-eye" aria-hidden="true"></i>
                    </button>
            </div>
            <p>Don't have an account? <a href="/signup">Register</a> now.</p>
            <button id="signinBtn" type="button" class="btn btn-primary btn-lg">Sign in</button>
        </form>
    </main>

    <script src="signin.js" type="module"></script>