:root {
    --bs-primary-color: rgb(13, 110, 253);
    --accent-color: rgb(226, 115, 150);
    --accent-color-lighter: rgb(222, 145, 169);
    --logo-size: 70px;
}

body {
    background: url("images/background_AdobeStock_169277666.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -100px;

    text-align: center;
    height: 100vh;
}

#logo {
    position: relative;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
}

#logo>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#signoutBtn{
    background-color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

h1,
h5 {
    font-family: 'Prata', serif;
}

.span-bg {
    background-color: var(--accent-color);
    padding: 2px 4px;
}

.span-color {
    color: var(--accent-color);
}

.pink-serif-link {
    font-family: 'Prata', serif;
    color: #FFF;
    text-decoration: none;
  }
.pink-serif-link :hover{
    color: #FFF;
    background-color: var(--bs-primary-color);
}
  
.opacity-bg {
    max-width: 960px;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 1);
}

.sticky-menu-btn {
    padding: 1rem 0;
    color: rgb(0, 0, 0);
}

.sticky-menu-btn:hover {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
    cursor:pointer;
}

.sticky-menu-btn>i:hover {
    scale: 1.2;
}

footer>p {
    font-size: .6rem;
}

.navbar-toggler {
    border: none;
    height: 100%;
    min-width: 80px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link{
    padding-right: 5px;
}

.date {
    margin-top: 20vh;
}

#intro {
    margin-top: 6rem;
}

.rating{
    cursor: pointer;
}

/* --- RESPONSIVE CSS  -------------------------------------------------- */
@media (min-width: 75em) {

    body {
        background-position-y: -250px;
    }
    .nav{
        max-width: 90%;
      }
} 
  @media (min-width: 40em) {
  
    .nav{
      max-width: 90%;
    }
  }