:root {
  --basic-color: steelblue;
  --darken-basic-color: rgb(112, 128, 144);
  --lighter-accent-color:  rgba(241, 165, 189, 0.5);
  --accent-color: rgb(226, 115, 150);
  --logo-size: 70px;
}

body {
  background: url("images/background-image.jpg") no-repeat;
  background-position: top center;
  background-position-y: -20px;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-brand{
  display:none;
}

.container-fluid{
  flex-direction: row-reverse;
}

#form-signup, #form-signin {
  background: linear-gradient(rgba(255, 255, 255, 1) 80%, rgba(255,255,255,0));
  max-width: 330px;
  padding: 0;
  padding-bottom: 1rem;
}

form {
  position: relative;
  margin-top: 35%;
  margin-bottom: 15%;
}

#logo{
  display: block;
  position: relative;
  top:-20px;
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
}

#logo > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
}

#submit-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-row {
  margin-top: 1.5rem;
  text-align: center;
}

#form-signin > form > div:nth-child(2){
  margin-top: 1rem;
}

form > p{
  margin-top: 1rem;
  font-size: .75rem;
}

.form-row > label{
  font-weight: 100;
}

footer h5{
  font-family: 'Prata', serif;
}

footer span{
  background-color: var(--accent-color);
}

footer > p{
  font-size: .6rem;
}

.errorToast{
  display: block;
  top:2%;
  right:2%;
}

@media (min-width: 380px) {

  body{
      background-position-y: -45px;
  }
}

@media (min-width: 540px) {

  body{
      background-position-y: -20px;
  }

}
