@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Poppins&display=swap');

:root {
    --bs-primary-color: rgb(13, 110, 253);
    --accent-color: rgb(226, 115, 150);
    --accent-color-lighter: rgb(222, 145, 169);
    --logo-size: 70px;
}

html{
    font-size: 100%;
}

body {
     font-family: 'Poppins', sans-serif;
     text-align: center;
     height: 100vh;
}

#logo {
    display: none;
    position: relative;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
}

#logo>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.accent{
    color: var(--accent-color);
}

h1, h5 {
    font-family: 'Arapey', serif;
}
h4{
    font-family: 'Poppins', serif;
}
.span-bg {
    background-color: var(--accent-color);
    padding: 2px 4px;
}

.span-color {
    color: var(--accent-color);
}

.opacity-bg{
    max-width: 960px;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 1);
}

.sticky-menu-btn {
    padding: 1rem 0;
    color: rgb(0, 0, 0);
}

.sticky-menu-btn:hover {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
}

.sticky-menu-btn>i:hover {
    scale: 1.2;
}

.bottom-menu .navbar-toggler-icon::before {
    font-family: FontAwesome;
    content: "\f077";
}

.bottom-menu .navbar-toggler-icon-collapsed::before {
    font-family: FontAwesome;
    content: "\f078";
}

footer>p {
    font-size: .6rem;
}

.navbar-toggler {
    border: none;
    height: 100%;
    min-width: 80px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none;
    background: none;
}
 
.navbar-toggler-icon::before {
    font-family: FontAwesome;
    content: "\f00d";
}

.navbar-toggler-icon-collapsed::before {
    font-family: FontAwesome;
    content: "\f0c9";
}
 
.date {
    margin-top: 20vh;
}

#intro{
    margin: 0;
    background: url('images/background_AdobeStock_169277666_landing-page.png') no-repeat;
    background-size: contain;
    background-position-x: right;
}
 
#hero-photo{
    background: url("images/background_AdobeStock_169277666_hero-image.jpg") no-repeat;
    background-size: contain;
    background-position: top right;
    margin: 0; 
    height: 70vw;
}

#hero-content{
    margin: auto;
}

.hero-title{
    margin: 2rem 0;
    font-size: 2.4rem;
}

.hero-subtitle{
    font-size: 1.25rem;
    margin: 0 10%;
}

.hero-lead {
    font-size: 0.9rem;
    margin: 2rem 8% 2rem 8%;
}

.form-group-custom{
    position: relative;
  }

.form-group-header{
    position: absolute;
    top: -20%;
    left:50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    background-color: white;
  }


@media (min-width: 48em) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;
    } 

    .hero-title {
        margin: 1rem 0;
        font-size: 1.8em;
    }
    .hero-subtitle {
        font-size: 0.75em;
        margin: 0 10%;
    }
    .hero-lead {
        font-size: 0.6em;
        margin: 2rem 10% 1.5rem 10%;
    }

    #hero {
        background: linear-gradient(130deg, rgb(222, 145, 169, 0.5) 0 5%, rgba(255,255,255,0) 20% 100%);
    }
    #hero-photo{
        height: 40vw;
    }
}

@media (min-width: 75em) {
    .hero-title {
         font-size: 3em;
     }
     
     .hero-subtitle {
         font-size: 1.2em;
     }
 
     .hero-lead{
         font-size: 1em;
         margin: 4rem 15% 2rem 15%;
     }

     #hero-photo{
        height: 50vw;
    }
 }

@media (min-width: 87em) {
    .hero-title {
         font-size: 3.5em;
     }
     
     .hero-subtitle {
         font-size: 1.5em;
     }
 
     .hero-lead{
         font-size: 1em;
         margin: 4rem 15% 2rem 15%;
     }
 }