:root {
    --basic-color: steelblue;
    --darken-basic-color: rgb(112, 128, 144);
    --lighter-basic-color: lightsteelblue;
    --accent-color: rgb(226, 115, 150);
    --logo-size: 70px;
}

body {
    background: url("images/background_AdobeStock_169277666.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -170px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 100vh;
}

.navbar{
    max-width: 960px;
}

#logo {
    position: relative;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
}

#logo>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.accent{
    color: var(--accent-color);
}

h1, h5 {
    font-family: 'Prata', serif;
}

.span-bg {
    background-color: var(--accent-color);
}

.span-color {
    color: var(--accent-color);
}

.opacity-bg{
    max-width: 960px;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.sticky-menu-btn {
    padding: 1rem 0;
    color: rgb(0, 0, 0);
}

.sticky-menu-btn:hover {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
}

.sticky-menu-btn>i:hover {
    scale: 1.2;
}

footer>p {
    font-size: .6rem;
}

.footer-divider {
    margin: 0 0 1rem 0;
    /* Space out the Bootstrap <hr> more */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none;
    background: none;
}

.navbar-toggler-icon::before {
    font-family: FontAwesome;
    content: "\f077";
    /* fa-chevron-up */
}

.date {
    margin-top: 20vh;
}

#intro{
    margin-top: 6rem;
}

.intro-heading{
    font-size: 2rem;
}

.sub-heading{
    font-size: 1.25rem;
}

.intro-lead {
    font-size: .8rem;
}

.form-group-custom{
    position: relative;
  }

.form-group-header{
    position: absolute;
    top: -20%;
    /* left: 40%; */
    padding: .5rem 1rem;
    background-color: white;
    text-align: center;
  }

/* --- RESPONSIVE CSS  -------------------------------------------------- */
@media (min-width: 75em) {

    body{
        background-position-y: -250px;
    }
}

@media (min-width: 62em) {
    #intro{
        margin-top: 9rem;
    }
}

@media (min-width: 40em) {

   
    .intro-heading {
        font-size: 3em;
    }

    .sub-heading {
        font-size: 2em;
    }

    .intro-lead {
        font-size: 1rem;
    }
}